@use "variables" as *;

.navbar {
    img {
        width: 80px;
    }

    .navbar-nav {
        a {
            color: $dark;
            text-transform: uppercase;
            font-weight: bold;

            &.selected {
                color: $primary_color;
                box-shadow: 0px 12px 0 -8px $primary_color;
            }
        }
    }

}